*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
    min-width: 100vw;

    user-select: none;

    color: wheat;
}

.grid-background{
    min-height: 100vh;
    min-width: 100vw;
    
    position:fixed;
    z-index: 1;

    background-color:#114B5F;

}

.middle-opacity{
    position: fixed;
    z-index: 2;

    min-width: 100vw;
    min-height: 100vh;

    background-color: black;
    opacity: .25;
}

.content{
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: 3px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);

    border-radius: 24px;
    padding: 2em
}

.title{
    font-size: 72px;

    text-decoration: underline;
}

.description{
    align-self: end;

    animation: descriptionSlideIn 0.8s ease-in;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.author{
    align-self: end;
}

.author > i {
    font-size: larger;    
}

img {
    height: 250px;
    width: 250px;
    border-radius: 18%;
}

.server-img{
    position: fixed;
    top: 10px; 
    left: 5px;
    z-index: 2;

    animation: serverRollIn 1s ease-in;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.website-img{
    position: fixed;
    top: 10px; 
    right: 5px;
    z-index: 2;


    animation: websiteRollIn 1s ease-in;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.computer-img{
    position: fixed;
    bottom: 10px; 
    left: 5px;
    z-index: 2;

    
    animation: computerCurve 1s linear forwards;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.email-img{
    position: fixed;
    bottom: 10px; 
    right: 5px;
    z-index: 2;
    
    animation: emailCurve 1s linear forwards;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.click-img{
    position: fixed;
    top: 73%; 
    left: 55%;
    z-index: 3;

    height: 100px;
    width: 100px;

    animation: clickBounce 1s ease;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.button-img{
    position:fixed;
    top: 65%; 
    left: 50%;
    z-index: 2;

    height: 150px;
    width: 150px;

    animation: buttonFade 1s ease;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@keyframes descriptionSlideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes serverRollIn {
    from {
        transform: translateX(100vw) rotate(0deg);
        opacity:0
    } to {
        transform: translateX(0) rotate(360deg);
        opacity:1
    }

}

@keyframes websiteRollIn {
    from {
        transform: translateX(-100vw) rotate(0deg);
        opacity:0
    } to {
        transform: translateX(0) rotate(360deg);
        opacity:1
    }

}

@keyframes computerCurve {
    from{
        transform: translateX(50vw) translateY(-100vh);
        opacity: 0;
    } to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes emailCurve {
    from{
        transform: translateX(-50vw) translateY(-100vh);
        opacity: 0;
    } to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes clickBounce {
    0% { transform: scale(1); opacity: 0; }
    25% { transform: scale(1); opacity: 0.25; }
    50% { transform: scale(1); opacity: 0.5;}
    75% { transform: scale(1.12); opacity: 0.75;}
    100% { transform: scale(1);
    opacity: 1;}
}

@keyframes buttonFade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
